@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  scroll-padding-top: 10rem;
}
/* Code below to remove the underline and color of links in the Navigation Bar wad take from the following URL: https://stackoverflow.com/a/2204687 which was provided by users mikemaccana and simaofreitas. */
a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "EB Garamond", sans-serif;
  font-weight: 500;
  color: #E8F3F5;
  background: url(../images/logo-image.jpg) center center / cover no-repeat fixed;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  display: block;
  z-index: 12;
}

/* headings and logo */

h1,
h2 {
  font-family: "EB Garamond", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
}

h3 {
  font-family: "EB Garamond", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

/* style and positioning of logo */
#logo {
  text-align: center;
  font-size: 500%;
  width: 100%;
  background-color: rgba(0, 69, 45, 1);
}

/* style and positioning of nav bar */
nav {
  padding-top: .8rem;
  padding-bottom: .8rem;
  width: 100%;
  background-color: rgba(0, 69, 45, 1);
  display: inline-block;
}

nav>a {
  margin: 2rem;
  position: relative;
  left: 25%;
}

.active {
  border-bottom: 1px solid #E8F3F5;
}



/* About box design */

.about-box {
  text-align: justify;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin-top: 200px;
  margin: 5%;
  background-color: rgba(0, 69, 45, .7);
  position: relative;
  left: 20%;
  top: 130px;
}

/* Games times section */

#games {
  position: relative;
  top: 100px;
}

#games div {
  width: 25%;
  height: 200px;
  float: left;
  padding: 30px 0 0 10px;
  border: 2px solid #E8F3F5;
  box-sizing: border-box;
  background-color: rgba(0, 69, 45, .7);

}

/* Find us section styling */
#find-us {
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 110px;
  background-color: rgba(0, 69, 45, .7);
  width: 50%;
  position: relative;
  top: 100px;
  left: 20%;

}

/* Register section styling */

#register {
  position: relative;
  top: 110px;
  min-height: 90vh;
}

legend {
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  border-radius: 10px;
  height: 300px;
  text-align: left;
  width: 50%;
  margin: 50px;
  padding: 20px;
  background-color: rgba(0, 69, 45, .7);
}
/* Code for the Sign Up button below was based on code taken from the Love Running Project on https://learn.codeinstitute.net/ */

.sign-up {
  margin-top: 10px;
  border-radius: 2px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  font-size: 100%;
  background-color: #E8F3F5;
  color: #00452D;
  display: block;
}

.sign-up:hover {
  background-color: #00C67F;
  color: #E8F3F5;
}


/* results table styling */
#results {
  border-radius: 10px;
  max-height: fit-content;
  text-align: left;
  max-width: fit-content;
  width: fit-content;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 200px;
  padding: 20px;
  background-color: rgba(0, 69, 45, .7);
  position: relative;
  top: 110px;
}

#results>table {
  border-spacing: 30px;
}

#thankyou {
  position: relative;
  left: 50px;
  max-width: 90vmax;
  margin-top: 200px;
  margin-bottom: 300px;
  min-height: 70vh;
}

/* footer styling */
.footer {
  position: relative;
  bottom: 0;
  height: 100px;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  background-color: rgba(0, 69, 45, .7);



}

footer i {
  font-size: 150%;
  margin: 10px 30px;
}

/* for small screen sizes from 800px wide and down */
@media screen and (max-width: 800px) {

  #games>div {
    width: 75%;
    height: 170px;
    padding: 10px 0 0 10px;
    margin-left: 10%;
  }

  #register {
    position: relative;
    top: 50px;
  }

  #results {
    position: relative;
    top: 110px;
    margin-bottom: 65vh;
  }

  #thankyou {
    max-width: 90vmax;
    min-height: 90vmax;
    margin-bottom: 300px;
  }

  form {
    height: 400px;
  }

  #burger-menu {
    display: block;
  }

  #logo-image {
    display: none;
  }

  #normal-nav {
    display: none;
  }

/* Code below for the "Burger" Menu that displays on screens with a width less than 800 pixels was taken from https://codepen.io/alvarotrigo/pen/MWEJEWG and provided by user Ãlvaro. The code was adapted by amending the colors used and updated the navigation links. */

  /* Burger Menu */


  h2 {
    vertical-align: top;
    text-align: center;
  }

  html,
  body {
    margin: 0;
    height: 100%;
  }

  * {
    font-family: inherit;
    box-sizing: border-box;
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00430d;
    background: linear-gradient(to left, #00A76C, #00452D);
    color: #FFF;
    height: 60px;
    padding: 1em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu>li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    position: relative;
    bottom: 30px;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #E8F3F5;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    z-index: 11;
    float: right;
  }

  .menu-button::before {
    content: '';
    margin-top: -8px;
  }

  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked+.menu-button-container .menu-button {
    background: #00452D;
  }

  #menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  @media (max-width: 800px) {
    .menu-button-container {
      display: flex;
    }

    .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }

    #menu-toggle~.menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      z-index: 10;
    }

    #menu-toggle:checked~.menu li {
      border: 1px solid #000000;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #00452D;
    }

    .menu>li:not(:last-child) {
      border-bottom: 1px solid rgb(10, 70, 11);
    }
  }
}

@media screen and (min-width: 801px) {
  #burger-menu {
    display: none;
  }
}